@import url('https://fonts.googleapis.com/css?family=Neucha|Philosopher');  
body
{font-family: 'Philosopher' , sans-serif;}
/*--- mainContainer ---*/
.mainContainer
{background-image: url(images/background.jpg);
background-size: cover;
background-attachment: fixed;
padding: 20px;}

h1
{font-size: 56px;
padding: 40px;
position: absolute;
left: 0px;
bottom: 0px;
text-shadow: 2px 2px 5px black;
color: white;}

.container
{position: relative;
height: 700px;
overflow: hidden;}

.container img
{border: 10px solid white;
border-bottom-width: 30px;
box-shadow: 2px 3px 5px black;}

.container div
{position: absolute;
transition: transform 0.5s linear;}

.foto1
{top: 60px;
right: 7px;
transform: rotate(15deg);}

.foto2
{top: 20px;
left: 620px;
transform: rotate(5deg);}

.foto3
{top: 70px;
right: 500px;
transform: rotate(-19deg);}

.foto4
{top: 200px;}

.foto5
{top: 250px;
right: 370px;}

.foto6
{top: 500px;
right: 200px;}

.foto7
{top: 200px;
right: 570px;
transform: rotate(-14deg);}

.foto8
{top: 320px;
right: 50px;}

.foto9
{}

.container div:hover
{z-index: 2;
transform: scale(1.3 , 1.3);}

/*--- section ---*/
#foto1_about
{width: 700px;
margin: 50px;}

#foto1_about p
{background-color: rgba(250, 250, 250, 0.5);
padding: 20px;
border: solid 5px;
border-image-slice: 20;
font-size: 24px;
border-image: linear-gradient(to top left,
                                #FFD9B3 0%
                                #FFFFBF 50%
                                #FFF345 100%);}

#foto5_about
{width: 700px;
margin: 50px;}                                
#foto5_about img
{padding: 20px;
float: right;}
#foto5_about p
{background-color: rgba(250, 250, 250, 0.5);
    padding: 20px;
    border: solid 5px;
    border-image-slice: 20;
    font-size: 24px;
    border-image: linear-gradient(to top left,
                                    #FFD9B3 0%
                                    #FFFFBF 50%
                                    #FFF345 100%);}

#foto6_about
{width: 700px;
margin: 50px;}                                
#foto6_about img
{padding: 20px;
float: right;}
#foto6_about p
{background-color: rgba(250, 250, 250, 0.5);
    padding: 20px;
    border: solid 5px;
    border-image-slice: 20;
    font-size: 24px;
    border-image: linear-gradient(to top left,
                                    #FFD9B3 0%
                                    #FFFFBF 50%
                                    #FFF345 100%);}














