@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
/*---Header ---*/
header 
{display: flex;
flex-direction: column;
align-items: center;}
header ul
{display: flex;
list-style: none;
padding: 0px;}
nav a
{text-decoration: none;
margin: 15px 15px;
padding: 15px 15px;
color: #047681;
cursor: url(images/cursor.png), pointer;}
nav a:hover
{background-color: #047681;
color: #fee3de;}
nav 
{align-self:flex-start;}
/*---Main---*/
main
{display: flex;
flex-direction: column;
font-family:"Underdog", cursive;}
main h2
{font-size: 40px;}
main section
{padding: 50px;}
/*---Main rem---*/
#rem ul
{list-style-type: upper-roman;
list-style-position: inside;
color: aquamarine;}
/*---Main rem2---*/
#rem2 
{align-self: center;}
#rem2 ul 
{font-size: 30px;
list-style-image: url(images/face_point.png);}
#rem2 ul li
{background-color: #047681;
border: 5px solid white;
padding-left: 10px;}
#rem3 ul
{font-size: 30px;
list-style-image: url(images/hands_point.png);}
#rem3 ul li 
{border: 5px solid white;
background-color: wheat;
width: 450px;}
/*---footer---*/
footer
{padding: 15px 10px;
margin: 0;
color: white;
background-color: black;}
.p1
{text-decoration: line-through;}



